# Messaggio SMS Configuration
MESSAGGIO_SECRET_KEY=
MESSAGGIO_SENDER_CODE=
MESSAGGIO_PROJECT_LOGIN=

# Firebase Configuration
# If not hardcoded, use this var as a JSON string
FIREBASE_SERVICE_ACCOUNT=
